@import "../../../../../assets/Css/variables.scss";

// ==============================

.Content-Box {
  position: absolute;
  overflow: hidden;
  overflow-y: auto;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  //   ===
}

// ==============================
